[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/transient"]
	path = site-lisp/transient
	url = https://github.com/magit/transient.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "site-lisp/compat"]
	path = site-lisp/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "site-lisp/lazy-load"]
	path = site-lisp/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/emacs-which-key"]
	path = site-lisp/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "site-lisp/symbol-overlay"]
	path = site-lisp/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "site-lisp/mwim"]
	path = site-lisp/mwim
	url = https://github.com/alezost/mwim.el.git
[submodule "site-lisp/marginalia"]
	path = site-lisp/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "site-lisp/vertico"]
	path = site-lisp/vertico
	url = https://github.com/minad/vertico.git
[submodule "site-lisp/consult"]
	path = site-lisp/consult
	url = https://github.com/minad/consult.git
[submodule "site-lisp/corfu"]
	path = site-lisp/corfu
	url = https://github.com/minad/corfu.git
[submodule "site-lisp/cape"]
	path = site-lisp/cape
	url = https://github.com/minad/cape.git
[submodule "site-lisp/orderless"]
	path = site-lisp/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "site-lisp/embark"]
	path = site-lisp/embark
	url = https://github.com/oantolin/embark.git
[submodule "site-lisp/corfu-doc"]
	path = site-lisp/corfu-doc
	url = https://github.com/galeo/corfu-doc.git
