/auto-save-list/
/transient/
/elpa/
/projects
/places
/ido.last
/history
/recentf
/.cache/
/rime/
/emms/
/games/
/tramp
/eshell/
/tree-sitter/
/bookmarks
/ede-projects.el
/network-security.eld
/nov-places
/url/
