[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/transient"]
	path = site-lisp/transient
	url = https://github.com/magit/transient.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "site-lisp/compat"]
	path = site-lisp/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "site-lisp/lazy-load"]
	path = site-lisp/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/emacs-which-key"]
	path = site-lisp/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "site-lisp/symbol-overlay"]
	path = site-lisp/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "site-lisp/mwim"]
	path = site-lisp/mwim
	url = https://github.com/alezost/mwim.el.git
[submodule "site-lisp/marginalia"]
	path = site-lisp/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "site-lisp/vertico"]
	path = site-lisp/vertico
	url = https://github.com/minad/vertico.git
[submodule "site-lisp/consult"]
	path = site-lisp/consult
	url = https://github.com/minad/consult.git
[submodule "site-lisp/corfu"]
	path = site-lisp/corfu
	url = https://github.com/minad/corfu.git
[submodule "site-lisp/cape"]
	path = site-lisp/cape
	url = https://github.com/minad/cape.git
[submodule "site-lisp/orderless"]
	path = site-lisp/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "site-lisp/embark"]
	path = site-lisp/embark
	url = https://github.com/oantolin/embark.git
[submodule "site-lisp/corfu-doc"]
	path = site-lisp/corfu-doc
	url = https://github.com/galeo/corfu-doc.git
[submodule "site-lisp/awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-lisp/sdcv"]
	path = site-lisp/sdcv
	url = https://github.com/manateelazycat/sdcv.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "site-lisp/auto-yasnippet"]
	path = site-lisp/auto-yasnippet
	url = https://github.com/abo-abo/auto-yasnippet.git
[submodule "site-lisp/posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/emacs-rime"]
	path = site-lisp/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/rg"]
	path = site-lisp/rg
	url = https://github.com/dajva/rg.el.git
[submodule "site-lisp/Emacs-wgrep"]
	path = site-lisp/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/avy"]
	path = site-lisp/avy
	url = https://github.com/abo-abo/avy.git
[submodule "site-lisp/editorconfig-emacs"]
	path = site-lisp/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "optional-pkg/typescript"]
	path = optional-pkg/typescript
	url = https://github.com/emacs-typescript/typescript.el.git
[submodule "optional-pkg/elisp-tree-sitter"]
	path = optional-pkg/elisp-tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter.git
[submodule "optional-pkg/tree-sitter-langs"]
	path = optional-pkg/tree-sitter-langs
	url = https://github.com/emacs-tree-sitter/tree-sitter-langs.git
[submodule "optional-pkg/tsi"]
	path = optional-pkg/tsi
	url = https://github.com/orzechowskid/tsi.el.git
[submodule "site-lisp/prettier"]
	path = site-lisp/prettier
	url = https://github.com/jscheid/prettier.el.git
[submodule "site-lisp/iter2"]
	path = site-lisp/iter2
	url = https://github.com/doublep/iter2.git
[submodule "site-lisp/nvm"]
	path = site-lisp/nvm
	url = https://github.com/rejeep/nvm.el.git
[submodule "site-lisp/f"]
	path = site-lisp/f
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/emmet-mode"]
	path = site-lisp/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "site-lisp/eslint-disable-rule"]
	path = site-lisp/eslint-disable-rule
	url = https://github.com/DamienCassou/eslint-disable-rule.git
[submodule "site-lisp/rainbow-identifiers"]
	path = site-lisp/rainbow-identifiers
	url = https://github.com/Fanael/rainbow-identifiers.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "site-lisp/tomelr"]
	path = site-lisp/tomelr
	url = https://github.com/kaushalmodi/tomelr.git
[submodule "site-lisp/ox-hugo"]
	path = site-lisp/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "site-lisp/org-pomodoro"]
	path = site-lisp/org-pomodoro
	url = https://github.com/marcinkoziej/org-pomodoro.git
[submodule "site-lisp/alert"]
	path = site-lisp/alert
	url = https://github.com/jwiegley/alert.git
[submodule "site-lisp/gntp"]
	path = site-lisp/gntp
	url = https://github.com/tekai/gntp.el.git
[submodule "site-lisp/vimrc-mode"]
	path = site-lisp/vimrc-mode
	url = https://github.com/mcandre/vimrc-mode.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/lua-mode"]
	path = site-lisp/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "site-lisp/nginx-mode"]
	path = site-lisp/nginx-mode
	url = https://github.com/ajc/nginx-mode.git
[submodule "site-lisp/pdf-tools"]
	path = site-lisp/pdf-tools
	url = https://github.com/vedang/pdf-tools.git
[submodule "site-lisp/tablist"]
	path = site-lisp/tablist
	url = https://github.com/politza/tablist.git
[submodule "site-lisp/saveplace-pdf-view"]
	path = site-lisp/saveplace-pdf-view
	url = https://github.com/nicolaisingh/saveplace-pdf-view.git
[submodule "site-lisp/ace-window"]
	path = site-lisp/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "site-lisp/emacs-websocket"]
	path = site-lisp/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "site-lisp/emms"]
	path = site-lisp/emms
	url = https://git.savannah.gnu.org/git/emms.git
[submodule "site-lisp/emacs-corfu-terminal"]
	path = site-lisp/emacs-corfu-terminal
	url = https://codeberg.org/akib/emacs-corfu-terminal.git
[submodule "site-lisp/emacs-popon"]
	path = site-lisp/emacs-popon
	url = https://codeberg.org/akib/emacs-popon.git
[submodule "site-lisp/emacs-corfu-doc-terminal"]
	path = site-lisp/emacs-corfu-doc-terminal
	url = https://codeberg.org/akib/emacs-corfu-doc-terminal.git
[submodule "site-lisp/emacs-flymake-eslint"]
	path = site-lisp/emacs-flymake-eslint
	url = https://github.com/zedhugh/emacs-flymake-eslint.git
[submodule "site-lisp/plantuml-mode"]
	path = site-lisp/plantuml-mode
	url = https://github.com/skuro/plantuml-mode.git
[submodule "site-lisp/graphviz-dot-mode"]
	path = site-lisp/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
